.tabs-container {
  border: 1px solid #ccc;
  background: #f1f1f1;
  overflow: hidden;
}
.tab {
  background: inherit;
  padding: 14px 16px;
  cursor: pointer;
  float: left;
  border: none;
  outline: none;
  transition: 300ms ease;
  font-size: 17px;
}

.tab:hover {
  background: #ddd;
}

.tab.active {
  background: #ccc;
  opacity: 1;
  transition: 200ms ease;
}

.content {
  border: 1px solid #ccc;
  padding: 6px 12px;
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content.hidden {
  display: none;
}
.content.visible {
  display: block;
}

.close {
  float: right;
  font-size: 25px;
  cursor: pointer;
}
