* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.sidenav {
  background-color: black;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 160px;
  padding-top: 20px;
}

.sidenav a {
  padding: 1rem 0.5rem;
  padding-top: 0.5rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #aaa;
  display: block;
}
.sidenav a:hover {
  color: #eee;
}

.main {
  display: block;
  padding: 0 1rem;
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 1.2rem;
}

.main h1 {
  margin: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 1rem;
  }
  .sidenav a {
    font-size: 1.1rem;
  }
}
