.menu-line {
  width: 35px;
  height: 5px;
  background: #000;
  margin: 6px 0;
}

.animated-menu-icon {
  cursor: pointer;
}
.animated-menu-icon .menu-line {
  transition: all 300ms ease;
}
.animated-menu-icon .forward-slash {
  transform: translate(0, 11px) rotate(-45deg);
}

.animated-menu-icon .backward-slash {
  transform: translate(0, -11px) rotate(45deg);
}

.hidden {
  background: white;
}
