.menu-line {
  width: 35px;
  height: 5px;
  background: #000;
  margin: 6px 0;
}

.animated-menu-icon {
  cursor: pointer;
}
.animated-menu-icon .menu-line {
  transition: all 300ms ease;
}
.animated-menu-icon .forward-slash {
  transform: rotate(-45deg);
  transform-origin: top right;
}

.animated-menu-icon .backward-slash {
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.hidden {
  background: white;
}
