body {
  margin: 0;
  padding: 0;
}
.icon-bar {
  width: 100%;
  background: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 300ms ease;
  color: white;
  font-size: 36px;
}

.icon-bar .inactive:hover {
  background: black;
}

.icon-bar .active {
  background: #04aa6d;
}
